@use '../../styles/variables' as *;

.buttons-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  border-top: 2px solid $border-primary;
}
