$primary-color: #0072BC;
$primary-hover: #0160A3;
$primary-disabled: #99c4e4;

$secondary-color: #D0D5DD;
$secondary-hover: #D0D5DD;
$secondary-disabled: #b0c5db;

$danger-color: #dc3545;
$danger-hover: #c82333;
$danger-disabled: #f5a2ab;

$error-background-color: #FEF3F2;

$border-primary: #D0D5DD;

$font-secondary-color: #777777;
